{% extends 'base.html.twig' %}

{% block reviewForm %}

    <div class="container">

        <a href="{{ url('review_import') }}" class="btn btn-info pull-right">Import review csv</a>

        <legend>Review Create</legend>

        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}
